.axios {
  position: absolute;
  top: 23%;
  left: 32%;
}

.bloomberg {
  position: absolute;
  top: 14%;
  left: 51%;
}

.breitbart-news {
  position: absolute;
  top: 78%;
  left: 85%;
}

.buzzfeed {
  position: absolute;
  top: 38%;
  left: 15%;
}

.cnn {
  position: absolute;
  top: 45%;
  left: 27%;
}

.fox-news {
  position: absolute;
  top: 66%;
  left: 76%;
}

.msnbc {
  position: absolute;
  top: 45%;
  left: 21%;
}

.national-review {
  position: absolute;
  top: 36%;
  left: 71%;
}

.reuters {
  position: absolute;
  top: 11%;
  left: 46%;
}

.the-american-conservative {
  position: absolute;
  top: 47%;
  left: 75%;
}

.the-huffington-post {
  position: absolute;
  top: 52%;
  left: 20%;
}

.the-new-york-times {
  position: absolute;
  top: 18%;
  left: 42%;
}

.the-wall-street-journal {
  position: absolute;
  top: 24%;
  left: 56%;
}

.the-washington-post {
  position: absolute;
  top: 23%;
  left: 42%;
}

.usa-today {
  position: absolute;
  top: 18%;
  left: 46%;
}

.the-hill {
  position: absolute;
  top: 23%;
  left: 46%;
}

.politico {
  position: absolute;
  top: 20%;
  left: 30%;
}

.the-economist {
  position: absolute;
  top: 32%;
  left: 40%;
}

.the-washington-times {
  position: absolute;
  top: 50%;
  left: 72%;
}
