.axios {
  position: absolute;
  top: 22%;
  left: 32%;
}

.bloomberg {
  position: absolute;
  top: 14%;
  left: 53%;
}

.breitbart-news {
  position: absolute;
  top: 78%;
  left: 85%;
}

.buzzfeed {
  position: absolute;
  top: 60%;
  left: 15%;
}

.cnn {
  position: absolute;
  top: 45%;
  left: 42%;
}

.fox-news {
  position: absolute;
  top: 68%;
  left: 83%;
}

.msnbc {
  position: absolute;
  top: 45%;
  left: 21%;
}

.national-review {
  position: absolute;
  top: 36%;
  left: 72%;
}

.reuters {
  position: absolute;
  top: 11%;
  left: 53%;
}

.the-american-conservative {
  position: absolute;
  top: 45%;
  left: 75%;
}

.the-huffington-post {
  position: absolute;
  top: 54%;
  left: 20%;
}

.the-new-york-times {
  position: absolute;
  top: 18%;
  left: 42%;
}

.the-wall-street-journal {
  position: absolute;
  top: 26%;
  left: 56%;
}

.the-washington-post {
  position: absolute;
  top: 23%;
  left: 45%;
}

.usa-today {
  position: absolute;
  top: 18%;
  left: 48%;
}

.the-hill {
  position: absolute;
  top: 23%;
  left: 62%;
}

.politico {
  position: absolute;
  top: 20%;
  left: 30%;
}

.the-economist {
  position: absolute;
  top: 32%;
  left: 56%;
}

.the-washington-times {
  position: absolute;
  top: 50%;
  left: 72%;
}
