* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-image: url('./reading-newspaper.jpg') !important; */
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Open Sans', sans-serif;
  --main-blue: #0392cf;
  --light-blue: #47AFDC;
  --main-red: #ee4035;
  --main-green: #7bc043;
  --main-orange: #f37736;
  --main-yellow: #fdf498;
  --light-gray: #F4F4F8;
  color: var(--light-gray) !important;
}
